
<div id="pasona_logo">
    <img src="{{ header.pasona_logo }}" alt="{{ header.pasona_logo_alt }}" />
</div>
<div id="header_img">
    <img class="main_person" src="{{ header.main_image }}" alt="{{ header.main_image_alt }}" />
    <div class="header_message">
        <img src="{{ header.message }}" />
    </div>
    <h2>{{ header.message_01 }}<br/>{{ header.message_02 }}</h2>
    <div id="header_blue"></div>
</div>
<div id="header_headering">
    <img src="{{ header.headering }}" />
</div>

