<!DOCTYPE html>
<html lang="ja">
<head>
</head>
<body>
    <header>
        index
    </header>
    <main id="mainwrapper">
        {% include 'partial/site/_sample.njk' -%}
    </main>
    <footer>
    </footer>
</body>
</html>
